#skip{

color: #FC8D48;

}
.half-widht h1{


    font-size:65px;

font-family:  'Roboto', sans-serif;

color: #575757;

}



.half-widht{

width: 50%;
padding-left: 100px;

}

.Introduction{
display: flex;
margin-top: 76px;

}

#service-Introduction{

font-size: 17px;
font-family:  'Roboto', sans-serif;
width: 390px;
color: #888888;
letter-spacing: 0.1;
margin-bottom: 52px;
}

.half-widht a{

text-decoration: none;
font-size: 20px;
font-family:'Roboto', sans-serif;
background-image: linear-gradient(rgb(251, 134, 0),rgb(255, 81, 0));
padding-left: 23px;
padding-right: 23px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 50px;
font-size: 25px;
color:white;
}
.about-the-company{
background-image: url(pk.jpg);

display: flex;
margin-bottom: 80px;
}

#iamge{

height: 400px;
width: 200px;


}
#about-me{

color: #707070;
font-family:'Roboto', sans-serif ;
font-size: 50px;
font-weight: 550px;
}

#about{

font-family: 'Roboto', sans-serif;
font-size: 18px;
padding-right: 125px;
font-weight: 200px;
}

