#skip{

    color: #FC8D48;
    
    }
    .half-widht h1{
    
    
        font-size:65px;
    
    font-family:  'Roboto', sans-serif;
    
    color: #575757;
    
    }
    
    
    
    .half-widht{
    
    width: 50%;
    padding-left: 100px;
    
    }
    
    .Introduction{
    display: flex;
    margin-top: 76px;
    
    }
    
    #service-Introduction{
    
    font-size: 17px;
    font-family:  'Roboto', sans-serif;
    width: 390px;
    color: #888888;
    letter-spacing: 0.1;
    margin-bottom: 52px;
    }
    
    .half-widht a{
    
    text-decoration: none;
    font-size: 20px;
    font-family:'Roboto', sans-serif;
    background-image: linear-gradient(rgb(231, 168, 96),rgb(255, 81, 0));
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    font-size: 25px;
    color:white;
    box-shadow: 0px 0px 9px 1px rgb(223, 173, 80);
    }
    .about-the-company{
    
    background-image: url(park.jpg);
    display: flex;
    margin-bottom: 80px;
    
    }
    
    #iamge{
    
height: 480px;
    
width: 400px;
    }
    #about-me{
    
    color: #707070;
    font-family:'Roboto', sans-serif ;
    font-size: 50px;
    font-weight: 550px;
    }
    
    #about{
    
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-right: 125px;
    font-weight: 200px;
    }
    
    #recipi{
        color: #707070;
    
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500px;
    letter-spacing: 1px;
    font-size: 36px;
    margin-bottom: 20px;
    }
    #food-menu{
    color:#4b4747 ;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
    margin-bottom: 50px;
    
    }
  

  

        .food-sizing {
            box-shadow: -3px -4px 20px #dadada;
            width: 15%;height: 350px;
            margin-left: 180px;
            padding-left: -1px;
            padding: 15px;
            border-radius: 22px;
            margin-bottom: 110px;

        }


    .food-sizing img{

        height:155px;

        width: 99%;

        }

.food-sizing h2{

font-family:'Roboto', sans-serif ;
font-size: 29px;
}
.food-sizing p{

    font-family:'Roboto', sans-serif ;


}
.styled-bannar{


display: flex;}


#bannar-pic-resize{

    
        width: 235px;
        height: 155px;
        border-radius: 14px;
  
}

.last-shap span{

color: orange;
letter-spacing: 3.1px;
}

.last-shap h3{

color: #707070 ;



}
.last-shap{

text-align: center;
background-color: #0B0D17;
height: 250px;
}
.last-shap h1{

color:#3f3c3c ;
font-family:'Roboto', sans-serif  ;


}

.ablity-point h1 {
    font-family:'Roboto', sans-serif  ;
font-size: 35px;


}
.ablity-point h4{

font-family: 'Roboto',  sans-serif;
font-weight: 350;

}

.ablity-point {
    width: 25%;
    height: 179px;
    padding-left: 140px;}
    section.our-ability {
        width: 100%;
        display: flex;
    }
    section.our-ability {
        width: 100%;
        display: flex;
        margin-left: -2px;
       
        box-shadow: 0px 1px 13px -4px #c7c0c0 ;
        padding: 9px;
    }

    .about-section {



        margin-right: 184px;
       
        margin-left: 105px;
    }
    .Ending-web span{
color: #FB8F48;
    }
    .Ending-web {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        background-color: #0B0D17;
        height: 195px;
        padding-top: 25px;
    }
    .Ending-web h1 {

font-weight: 700;

color: #5B5B5B



    }
    .Ending-web h5{

color: rgb(194, 194, 194);
font-weight: 250;
    }